header {
    h1 {
        font-size:1.5em;
        width: 80%;
        margin: 10px auto;
        text-align:center;
        min-width:240px;
//        margin-left:50px;
    }

    img#logo {
        display:block;
        width: 70%;
        margin: 10px auto;
        min-width: 218.8px;
        max-width: 547px;
    }
}
