<p>Can be found in
<a href="https://github.com/code4hk/site">https://github.com/code4hk/site</a></p>
<ul>
<li><p>S.1 Mission:
Drive social changes by code
Strengthen Hong Kong IT community as a whole
Motivate and facilitate Hong Kong IT community to do good to the society</p>
</li>
<li><p>S.2 How to become a team of CODE4HK
Any team that compliant to the S.3 and show willingness to join the cause can become a team of CODE4HK. Every team of CODE4HK shall choose a Hong Kong street name as code name.</p>
</li>
</ul>
